In [4]:
print("data science mentorship program by campusx",end='')

data science mentorship program by campusx

In [7]:
import math
c=int(input("please enter the value in the celsius"))
f=(c*9/5)+32
print("the temp is",f)

please enter the value in the celsius 67

the temp is 152.6

In [10]:
a=int(input("please enter a number to swap"))
b=int(input("please enter a number to swap"))
temp=a
a=b
b=temp
print("the no after swap",a,b)

please enter a number to swap 90
please enter a number to swap 89

the no after swap 89 90

In [24]:
import math
x1,y1= map(float,input("please enter the value of x1 and y1").split())
x2,y2= map(float,input("please enter the value of x2 and y2").split())
result=math.sqrt((x2-x1)**2 + (y2-y1)**2)
print("the resut of eucliden diatance",result)

please enter the value of x1 and y1 12 45
please enter the value of x2 and y2 32 65

the resut of eucliden diatance 28.284271247461902

In [30]:
import math
p=int(input("please enter the principal amount"))
r=int(input("please enter the rate of interest"))
t=int(input("please enter the time duration in year"))
simple_interest=p*r*t/100
print("the simple interst is:",simple_interest)
total_amount=simple_interest + p
print("the total amount u get is",total_amount)

please enter the principal amount 40000
please enter the rate of interest 5
please enter the time duration in year 12

the simple interst is: 24000.0
the total amount u get is 64000.0

In [34]:
import math
n=int(input("please enter the the value of n"))
formula=n*(n+1)*(2*n+1)/6
print("the sum is:",formula)

please enter the the value of n 3

the sum is: 14.0

In [40]:
a1=int(input("please enter the 1st term"))
a2=int(input("please enter the send term"))
common_difference=a2-a1
print("the common difference",common_difference)
n_term=a1 +(n-1)*common_difference
print("the nth term is:",n_term)

please enter the 1st term 23
please enter the send term 45

the common difference 22
the nth term is: 67

In [48]:
from fractions import Fraction

f1 = Fraction(input("Please enter the first fraction (like 3/4): "))
f2 = Fraction(input("Please enter the second fraction (like 7/2): "))

print("Sum:", f1 + f2)
print("Difference:", f1 - f2)

Please enter the first fraction (like 3/4):  4/5
Please enter the second fraction (like 7/2):  6/8

Sum: 31/20
Difference: 1/20

In [49]:
# Assuming all dimensions are in liters
height = float(input("Enter the height of the tank (in liters): "))
width = float(input("Enter the width of the tank (in liters): "))
breadth = float(input("Enter the breadth of the tank (in liters): "))
glass_volume = float(input("Enter the volume of one glass (in liters): "))

tank_volume = height * width * breadth
number_of_glasses = tank_volume / glass_volume

print("Number of glasses of milk:", int(number_of_glasses))

Enter the height of the tank (in liters):  12
Enter the width of the tank (in liters):  12
Enter the breadth of the tank (in liters):  12
Enter the volume of one glass (in liters):  12

Number of glasses of milk: 144